section {

  &.footer-top {
    background-color: $black-ter;

    & .social-media {

      margin-left: 0;

      & li {

        float: left;
        &:not(:last-of-type) {
          margin-right: 1rem;
        }

        & a {

          font-size: $font-medium;
          border: 2px solid $pink;
          width: 3rem;
          height: 3rem;
          display: block;
          position: relative;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          transition: 0.5s;

          &:hover {
            border-color: $white;
            background-color: $white;

            & svg {
              fill: $pink;
            }
          }

          & svg {
            fill: $white;
            display: block;
            position: absolute;
            top: calc(50% - 0.625rem);
            left: calc(50% - 0.625rem);
            transition: 0.5s;
          }
        }
      }
    }
  }

  &.footer-bottom {
    background-color: $black-bis;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    color: $white-bis;
    font-family: $family-secondary;

    & .footer-bottom-links {
      margin-bottom: 0;

      & li {
        margin-bottom: 0;
        float: right;

        & a {
          color: $white-bis;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}